[package]
name = "render"
version = "0.1.0"
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[dependencies]
anyhow.workspace = true
image.workspace = true
tracing.workspace = true


